<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserDao">

    <!--auto generated Code-->
    <resultMap id="user" type="com.example.demo.model.User">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="userPassword"/>
        <result column="user_age" property="userAge"/>
        <result column="user_tel" property="userTel"/>
    </resultMap>


    <!--auto generated Code-->
    <insert id="insert">
        INSERT INTO `user`
        (`id`,`name`,`hobby`)
        VALUES (#{pojo.id},#{pojo.name},#{pojo.hobby})
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE `user`
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.name != null"> `name` = #{pojo.name}, </if>
            <if test="pojo.hobby != null"> `pwd` = #{pojo.hobby} </if>
        </set>
        WHERE `id` = #{pojo.id}
    </update>

    <select id="getUserByUserNameAndPassWord" parameterType="java.lang.String" resultMap="user">
        SELECT * FROM user u where u.user_name=#{user_name} and u.password=#{password}
    </select>

</mapper>