<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{static/semantic/semantic.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div style="padding: 50px">


        <h2 class="ui header">登录成功，欢迎来到我们的站点！ </h2>
        <!--用户姓名-->
        <input type="hidden" name="userName" data-th-attr="value=${user.userName}" id="userName" />
        <table class="ui celled table">
            <thead>
            <tr><th>姓名</th>
                <th>密码</th>
                <th>描述</th>
            </tr></thead>
            <tbody>
            <tr>
                <td>
                    <div class="ui ribbon label" data-th-text="${user.userName}"></div>
                </td>
                <td data-th-text="${user.userPassword}"></td>
                <td data-th-text="${user.userDescribe}"></td>
            </tr>
            </tbody>
        </table>

        <!-- 顶部导航栏 -->
        <div class="ui attached stackable menu">
            <div class="ui container">
                <a class="item">
                    <i class="home icon"></i> Home
                </a>
                <a class="item">
                    <i class="grid layout icon"></i> Browse
                </a>
                <a class="item">
                    <i class="mail icon"></i> Messages
                </a>
                <div class="ui simple dropdown item">
                    More
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item"><i class="edit icon"></i> Edit Profile</a>
                        <a class="item"><i class="globe icon"></i> Choose Language</a>
                        <a class="item"><i class="settings icon"></i> Account Settings</a>
                    </div>
                </div>
                <div class="right item">
                    <div class="ui action left icon input">
                        <input type="text" placeholder="Search...">
                        <i class="users icon"></i>
                        <select class="ui compact selection dropdown">
                            <option value="user">用户</option>
                            <option value="group">群组</option>
                        </select>
                        <div class="ui button">Search</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 页面布局 -->
        <div class="ui horizontal segment" style="margin-right: 310px;margin-left: 310px">
            <!-- 左边部分 -->
            <div class="ui left very close rail">
                <div class="ui segment">
                    <!-- 好友列表 -->
                    <div class="ui styled accordion">
                        <div class="title"><i class="dropdown icon"></i> 特别关心 </div>
                        <div class="content">
                            <p>没有特别关心的人哦</p>
                        </div>
                        <div class="title"><i class="dropdown icon"></i> 我的好友 </div>
                        <div class="content"  id="friendList">
                            <div class="ui middle aligned animated selection divided list" data-th-each="friend : ${friendList}">
                                <div class="item" data-th-attr="id=${friend.friendAccount}">
                                    <input class="friendAccount" data-th-attr="value=${friend.friendAccount}" type="hidden"/>
                                    <input class="friendName" data-th-attr="value=${friend.friendName}" type="hidden"/>
                                    <img class="ui avatar image" src="/static/semantic/themes/default/assets/images/jenny.jpg">
                                    <div class="content">
                                        <a class="header" data-th-text="${friend.friendName}"></a>
                                        <div class="description" data-th-text="${friend.friendDescribe}"></div>
                                    </div>
                                    <!--<div class="ui teal left pointing label" style="float:right">1</div>-->
                                </div>
                            </div>
                        </div>
                        <div class="title"><i class="dropdown icon"></i> 我的群聊 </div>
                        <div class="content">
                            <p>没有加入的群聊</p>
                        </div>
                        <div class="title"><i class="dropdown icon"></i> 黑名单 </div>
                        <div class="content">
                            <p>黑名单中空空如也</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 右边部分 -->
            <!-- 正在聊天的好友信息，群成员信息 -->
            <div class="ui right very close rail">
                <div class="ui segment">
                    <div class="ui card">
                        <div class="image">
                            <img src="/static/semantic/themes/default/assets/images/watchmen-horizontal.jpg">
                        </div>
                        <div class="content">
                            <div class="header">Watchmen</div>
                            <div class="description">
                                In a gritty and alternate 1985 the glory days of costumed vigilantes have been brought to a close by a government crackdown, but after one of the masked veterans is brutally murdered an investigation into the killer is initiated.
                            </div>
                        </div>
                        <div class="ui two bottom attached buttons">
                            <div class="ui button">
                                <i class="add icon"></i>
                                Queue
                            </div>
                            <div class="ui primary button">
                                <i class="play icon"></i>
                                Watch
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 中间聊天框 -->
            <div>
                <div class="ui comments"  style="display: inline">
                    <h3 class="ui dividing header" id="chatWith">Comments</h3>
                    <!--保存接收者的账号和姓名，表示正在和谁聊天-->
                    <input type="hidden" name="receiverAccount" value="" id="receiverAccount" />
                    <input type="hidden" name="receiverName" value="" id="receiverName" />
                    <!--聊天内容框 每个comment就是一条消息-->
                    <div id="chatContent" class="chat content"  style="overflow-y:auto; height:300px; padding: 20px">

                    </div>
                    <form class="ui reply form">
                        <div class="field">
                            <textarea id="messageArea" placeholder="选择好友，和他开始聊天吧" disabled></textarea>
                        </div>
                        <div class="ui blue labeled submit icon button" id="sendMessageButton"><i class="icon edit"></i> 发送消息</div>
                        <div class="ui red message" id="messageNotice" style="width: 300px;height: 38px;float: right;margin-top: 0px;padding-top: 0px;display:none">
                            <i class="close icon"></i>
                            <p>不允许发送空消息</p>
                        </div>
                    </form>
                </div>

                <!-- 好友信息，群信息 -->
                <div class="ui card">

                </div>
            </div>

        </div>

    </div>
    <!-- 用户下线提示框 -->
    <div class="ui small modal" id="userOffline">
        <div class="header">下线通知</div>
        <div class="content">
            <p>您的账号在另一地点登录，您被迫下线！</p>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button" onclick="forceOffline()">确定 <i class="checkmark icon"></i> </div>
        </div>
    </div>
</body>
<script th:src="@{static/jquery-3.3.1.min.js}" type="text/javascript"></script>
<script th:src="@{static/jquery.cookie.js}" type="text/javascript"></script>
<script th:src="@{static/semantic/semantic.min.js}" type="text/javascript"></script>
<!-- 简单对webSocket封装了一下 -->
<script th:src="@{static/websocket/my.websocket.js}" type="text/javascript"></script>
<script th:src="@{static/chat/index.js}" type="text/javascript"></script>
</html>