<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{semantic/semantic.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div style="padding: 50px">


        <h2 class="ui header">登录成功，欢迎来到我们的站点！ </h2>
        <table class="ui celled table">
            <thead>
            <tr><th>姓名</th>
                <th>密码</th>
                <th>描述</th>
            </tr></thead>
            <tbody>
            <tr>
                <td>
                    <div class="ui ribbon label" data-th-text="${user.userName}"></div>
                </td>
                <td data-th-text="${user.userPassword}"></td>
                <td data-th-text="${user.userDescribe}"></td>
            </tr>
            </tbody>
        </table>

        <!-- 顶部导航栏 -->
        <div class="ui attached stackable menu">
            <div class="ui container">
                <a class="item">
                    <i class="home icon"></i> Home
                </a>
                <a class="item">
                    <i class="grid layout icon"></i> Browse
                </a>
                <a class="item">
                    <i class="mail icon"></i> Messages
                </a>
                <div class="ui simple dropdown item">
                    More
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item"><i class="edit icon"></i> Edit Profile</a>
                        <a class="item"><i class="globe icon"></i> Choose Language</a>
                        <a class="item"><i class="settings icon"></i> Account Settings</a>
                    </div>
                </div>
                <div class="right item">
                    <div class="ui action left icon input">
                        <input type="text" placeholder="Search...">
                        <i class="users icon"></i>
                        <select class="ui compact selection dropdown">
                            <option value="user">用户</option>
                            <option value="group">群组</option>
                        </select>
                        <div class="ui button">Search</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 页面布局 -->
        <div class="ui horizontal segment" style="margin-right: 310px;margin-left: 310px">
            <!-- 左边部分 -->
            <div class="ui left very close rail">
                <div class="ui segment">
                    <!-- 好友列表 -->
                    <div class="ui styled accordion">
                        <div class="title"><i class="dropdown icon"></i> 特别关心 </div>
                        <div class="content">
                            <p>没有特别关心的人哦</p>
                        </div>
                        <div class="title"><i class="dropdown icon"></i> 我的好友 </div>
                        <div class="content">
                            <div class="ui middle aligned animated selection divided list" data-th-each="friend : ${friendList}">
                                <div class="item">
                                    <img class="ui avatar image" src="/semantic/themes/default/assets/images/jenny.jpg">
                                    <div class="content">
                                        <a class="header" data-th-text="${friend.friendName}"></a>
                                        <div class="description" data-th-text="${friend.friendDescribe}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="title"><i class="dropdown icon"></i> 我的群聊 </div>
                        <div class="content">
                            <p>没有加入的群聊</p>
                        </div>
                        <div class="title"><i class="dropdown icon"></i> 黑名单 </div>
                        <div class="content">
                            <p>黑名单中空空如也</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 右边部分 -->
            <!-- 正在聊天的好友信息，群成员信息 -->
            <div class="ui right very close rail">
                <div class="ui segment">
                    <div class="ui card">
                        <div class="image">
                            <img src="/semantic/themes/default/assets/images/watchmen-horizontal.jpg">
                        </div>
                        <div class="content">
                            <div class="header">Watchmen</div>
                            <div class="description">
                                In a gritty and alternate 1985 the glory days of costumed vigilantes have been brought to a close by a government crackdown, but after one of the masked veterans is brutally murdered an investigation into the killer is initiated.
                            </div>
                        </div>
                        <div class="ui two bottom attached buttons">
                            <div class="ui button">
                                <i class="add icon"></i>
                                Queue
                            </div>
                            <div class="ui primary button">
                                <i class="play icon"></i>
                                Watch
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 中间聊天框 -->
            <div>
                <div class="ui comments"  style="display: inline">
                    <h3 class="ui dividing header">Comments</h3>
                    <!--聊天内容框 每个comment就是一条消息-->
                    <div id="chatContent" class="chat content"  style="overflow-y:auto; height:300px; padding: 20px">

                        <div class="comment">
                            <a class="avatar">
                                <img src="/semantic/themes/default/assets/images/matt.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Matt</a>
                                <div class="metadata">
                                    <span class="date">今天下午 5:42</span>
                                </div>
                                <div class="text">太赞了！ </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="/semantic/themes/default/assets/images/matt.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 天以前</span>
                                </div>
                                <div class="text">老兄，这太棒了。非常感谢。 </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="/semantic/themes/default/assets/images/elliot.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">3 天以前</span>
                                </div>
                                <div class="text">非常感谢。 </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="/semantic/themes/default/assets/images/matt.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 天以前</span>
                                </div>
                                <div class="text">老兄，这太棒了。非常感谢。 </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="/semantic/themes/default/assets/images/jenny.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">刚刚</span>
                                </div>
                                <div class="text">艾略特你永远是多么正确 :) </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="/semantic/themes/default/assets/images/elliot.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Elliot Fu </a>
                                <div class="metadata">
                                    <span class="date">昨天上午12:30</span>
                                </div>
                                <div class="text">這對我的研究是非常有用.謝謝! </div>
                            </div>
                        </div>

                    </div>
                    <form class="ui reply form">
                        <div class="field">
                            <textarea id="messageArea"></textarea>
                        </div>
                        <div class="ui blue labeled submit icon button" id="sendMessageButton"><i class="icon edit"></i> 发送消息</div>
                    </form>
                </div>

                <!-- 好友信息，群信息 -->
                <div class="ui card">

                </div>
            </div>

        </div>

    </div>
</body>
<script th:src="@{jquery-3.3.1.min.js}" type="text/javascript"></script>
<script th:src="@{semantic/semantic.min.js}"></script>
<script type="text/javascript">
    $('.menu .item').tab();

    $('.ui.accordion')
        .accordion()
    ;

    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        })
    ;

    //好友搜索
    $('.ui.search')
        .search({
            apiSettings: {
                url: '//api.github.com/search/repositories?q={query}'
            },
            fields: {
                results : 'items',
                title   : 'name',
                url     : 'html_url'
            },
            minCharacters : 3
        })
    ;

    //
    $('.ui.dropdown')
        .dropdown({
            useLabels: false
        });


    // 对Date的扩展，将 Date 转化为指定格式的String<>fmt [yyyy-MM-dd,yyyy-MM-dd HH:mm:ss]
    // 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
    // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
    Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    //发送消息按钮，点击事件
    $("#sendMessageButton").on("click",function(){
        //获取用户输入的消息
        var message = $("#messageArea").val();
        if(message) {
            //系统当前时间，格式化日期
            var time = new Date().Format("yyyy-MM-dd HH:mm:ss");
            var html = '<div class="comment"><a class="avatar"><img src="/semantic/themes/default/assets/images/elliot.jpg"></a><div class="content">' +
                '<a class="author">Elliot Fu </a><div class="metadata"><span class="date">' + time + '</span></div>' +
                '<div class="text">' + message + ' </div></div></div>'
            $("#chatContent").append(html);
            //清空输入框的内容
            $("#messageArea").val("");
        }
    })
</script>
</html>